---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% if site.history %}{% include post/history.html %}{% endif %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    {% unless page.hidden %}
      {% assign visible_posts = site.posts | where_exp: "p", "p.hidden != true" %}
      {% assign prev_post = nil %}{% assign next_post = nil %}
      {% for p in visible_posts %}
        {% if p.url == page.url %}
          {% assign older_i = forloop.index0 | plus: 1 %}
          {% assign newer_i = forloop.index0 | minus: 1 %}
          {% if older_i < visible_posts.size %}{% assign prev_post = visible_posts[older_i] %}{% endif %}
          {% if newer_i >= 0 %}{% assign next_post = visible_posts[newer_i] %}{% endif %}
          {% break %}
        {% endif %}
      {% endfor %}
      <p class="meta">
        {% if prev_post %}
          <a class="basic-alignment left" href="{{prev_post.url}}" title="Previous Post: {{prev_post.title}}">&laquo; {{prev_post.title}}</a>
        {% endif %}
        {% if next_post %}
          <a class="basic-alignment right" href="{{next_post.url}}" title="Next Post: {{next_post.title}}">{{next_post.title}} &raquo;</a>
        {% endif %}
      </p>
    {% endunless %}
  </footer>
</article>
</div>
