---
layout: default
---

<div class="featured-index">
  {% assign featured_posts = site.posts | where_exp: "p", "p.featured == true" %}
  {% for post in featured_posts limit: 10 %}
  <article class="featured-post">
    <a class="featured-thumb" href="{{ root_url }}{{ post.url }}">
      <img src="{{ post.image }}" alt="{{ post.title }}">
    </a>
    <div class="featured-body">
      <h2 class="featured-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <p class="featured-description">{{ post.description }}</p>
    </div>
  </article>
  {% endfor %}
</div>
